.recipe-list-item {
    flex-direction: row;
    height: 96px; /* Slightly smaller than shop slots */
    flex-shrink: 0; 
    background-color: var(--color-bg-panel);
    border-width: 1px;
    border-color: var(--color-border-default);
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 8px;
    transition-duration: 0.15s;
}

.recipe-list-item:hover {
    background-color: var(--color-bg-dark);
    border-color: var(--color-border-highlight);
}

.recipe-icon-wrapper {
    width: 72px;
    height: 72px;
    flex-shrink: 0;
    background-color: var(--color-bg-dark);
    border-width: 1px;
    border-color: var(--color-border-highlight); /* Gold outline to denote it's the result */
    border-radius: 4px;
    margin-right: 14px;
    align-items: center;
    justify-content: center;
}

.recipe-icon {
    width: 80%;
    height: 80%;
}

.recipe-details {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 4px;
}

.recipe-name {
    -unity-font-definition: url("project://database/Assets/Art/PixelArtGUI/Fonts/bitcell_memesbruh03.ttf?fileID=12800000&guid=65378f308d5a3fc428e7292ee3d8095b&type=3#bitcell_memesbruh03");
    color: var(--color-text-light);
    font-size: var(--font-size-body);
    -unity-font-style: bold;
    min-height: 30px;
    margin-bottom: 2px;
    padding: 0;
}

.recipe-ingredients {
    color: var(--color-border-default);
    font-size: var(--font-size-small);
    white-space: normal;
    min-height: 52px;
    padding: 0;
}
