#hud__bottom-section {
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 150px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.hud-left-status-container {
    flex-direction: row;
    min-width: 550px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin-bottom: 5px;
    align-items: center;
}

.hud-bars-container {
    flex-grow: 1;
    margin-right: 15px;
    justify-content: center;
}

#hud__right-container {
    min-width: 380px;
    margin-left: auto;
    align-items: flex-end;
}

#hud__menu-section {
    flex-grow: 0;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-bottom: 10px;
    padding-left: 20px;
}

.hud-menu-btn {
    width: 60px;
    height: 60px;
    -unity-background-scale-mode: scale-to-fit;
    background-color: transparent;
    border-width: 0;
}

.hud-menu-container {
    display: none;
    position: absolute;
    bottom: 70px;
    left: 20px;
    padding-bottom: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.57);
}

.hud-menu-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.hud-menu-button-label,
.hud-menu-button-shortcut {
    -unity-font-definition: url("project://database/Assets/Art/PixelArtGUI/Fonts/bitcell_memesbruh03.ttf?fileID=12800000&guid=65378f308d5a3fc428e7292ee3d8095b&type=3#bitcell_memesbruh03");
}

.hud-menu-button-label {
    font-size: 20px;
}

.hud-menu-button-shortcut {
    font-size: 16px;
}

.HUD {
    -unity-font-definition: url("project://database/Assets/Art/PixelArtGUI/Fonts/bitcell_memesbruh03.ttf?fileID=12800000&guid=65378f308d5a3fc428e7292ee3d8095b&type=3#bitcell_memesbruh03");
    color: var(--color-text-light);
    -unity-font-style: bold;
    font-size: 28px;
    letter-spacing: 2px;
    -unity-text-outline-width: 1.5px;
    -unity-text-outline-color: rgba(0, 0, 0, 0.8);
}

.hud-bar-text-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    -unity-text-align: middle-center;
    font-size: 24px;
    letter-spacing: 4px;
    -unity-text-outline-width: 1.5px;
    -unity-text-outline-color: rgba(0, 0, 0, 0.9);
    bottom: 9px;
}

#hud__level-label {
    font-size: 24px;
    margin-bottom: 3px;
}

#hud__xp-bar {
    width: 100%;
    height: 18px;
    margin-bottom: 8px;
}

#hud__health-bar {
    width: 100%;
    height: 45px;
}

#hud__mana-bar {
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
}

.unity-progress-bar {
    margin: 0;
    padding: 0;
}

.unity-progress-bar__title {
    display: none;
}

.unity-progress-bar__background {
    background-color: rgba(15, 15, 15, 0.9);
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 8px;
    overflow: hidden;
}

.unity-progress-bar__progress {
    border-radius: 5px;
    margin: 1px;
}

#hud__xp-bar .unity-progress-bar__progress {
    background-color: var(--color-xp);
}

#hud__health-bar .unity-progress-bar__progress {
    background-color: var(--color-health);
}

#hud__mana-bar .unity-progress-bar__progress {
    background-color: var(--color-mana);
}

.hud-potion-bar-internal {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-left-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    padding-left: 10px;
}

.potion-slot--hud {
    width: 64px;
    height: 64px;
    margin: 5px;
    background-color: rgba(15, 15, 15, 0.8);
    border-width: 2px;
    border-color: var(--color-border-default);
    border-radius: 8px;
    justify-content: flex-end;
    align-items: center;
    overflow: visible;
}

.hud-potion-hotkey {
    -unity-font-definition: url("project://database/Assets/Art/PixelArtGUI/Fonts/bitcell_memesbruh03.ttf?fileID=12800000&guid=65378f308d5a3fc428e7292ee3d8095b&type=3#bitcell_memesbruh03");
    position: absolute;
    top: -12px;
    color: var(--color-text-light);
    font-size: 18px;
    -unity-font-style: bold;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 6px;
    border-radius: 4px;
    border-width: 1px;
    border-color: var(--color-border-highlight);
}

.hud-skill-bar {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.1);
    overflow: visible;
}

.skill-slot--hud {
    width: 64px;
    height: 64px;
    margin: 12px 5px 12px 5px;
    background-color: rgba(15, 15, 15, 0.8);
    border-width: 2px;
    border-color: var(--color-border-default);
    border-radius: 8px;
    justify-content: flex-end;
    align-items: center;
    overflow: visible;
}

.hud-skill-hotkey {
    -unity-font-definition: url("project://database/Assets/Art/PixelArtGUI/Fonts/bitcell_memesbruh03.ttf?fileID=12800000&guid=65378f308d5a3fc428e7292ee3d8095b&type=3#bitcell_memesbruh03");
    position: absolute;
    top: -12px;
    color: var(--color-text-light);
    font-size: 18px;
    -unity-font-style: bold;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 6px;
    border-radius: 4px;
    border-width: 1px;
    border-color: var(--color-border-highlight);
}
